<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna.mapper">

<update id="update">
update qna set title=#{title}, content=#{content}, filename=#{filename, jdbcType=VARCHAR}, filepath=#{filepath, jdbcType=VARCHAR} where id=#{id}
</update>

<delete id="delete">
delete from qna where id=#{id}
</delete>

<update id="read">
update qna set readcnt = readcnt+1 where id=#{id}
</update>

<select id="detail" resultType="qna.QnaVO">
select q.*, (select name from member m where m.id = q.writer) name from qna q where id=#{id}
</select>

<insert id="insert">
insert into qna (title, content, writer, filename, filepath)
values (#{title}, #{content}, #{writer}, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR})
</insert>

<select id="list" resultType="qna.QnaVO">
select * from
	(select rownum no, n.*, (select name from member m where m.id = writer) name from
	(select * from qna order by id) n 
	order by no desc) n
where no between #{beginList} and #{endList}
</select>

<select id="totalList" resultType="integer">
select count(*) from qna
</select>

</mapper>